.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.red {
  background-color: rgb(169, 9, 9);
}
.yellow {
  background-color: rgb(244, 236, 15);
}
.green {
  background-color: rgb(10, 121, 20);
}
.off {
  background-color: rgb(255, 255, 255);
}
